[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
django-rest-framework = "*"
django-cors-headers = "*"
django-filter = "*"
django-crispy-forms = "*"
djangorestframework = "*"
django-reset-migrations = "*"
coverage = "*"
django-nose = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.6"
